<form action="file/add/<%= parent_id %>" class="add_file" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" style="margin-right: 6px" />
  <span class="submit button">&gt;</span>
</form>
