<%# Creates the form for adding new files %>
<%# This does not use AJAX like the rest of the sample app %>

<li class="item">
  <form action="file/add/<%= parent_id %>" class="add_file" method="POST" enctype="multipart/form-data">
    <input class="file_box" type="file" name="file" />
  </form>
</li>
