<%# Creates a table of panes and adds the first pane for the root folder %>

<table class="pane-group">
  <tr>
    <td class="pane">
      <%= partial :folder, :folder => root %>
    </td>
  </tr>
</table>
