.sprite_32x32 {
  background: transparent url(/img/box/32x32.png) no-repeat scroll 0 0;
  width: 32px;
  height: 32px;
}

.sprite_32x32_task_review {
	background-position: -94px -10px;
}

.sprite_32x32_task_approve {
	background-position: -10px -10px;
}

.sprite_32x32_task_custom {
	background-position: -52px -10px;
}

.sprite_32x32_task_update {
	background-position: -136px -10px;
}

.sprite_32x32_completed_task_review {
	background-position: -262px -10px;
}

.sprite_32x32_completed_task_approve {
	background-position: -178px -10px;
}

.sprite_32x32_completed_task_update {
	background-position: -304px -10px;
}

.sprite_32x32_completed_task_custom {
	background-position: -220px -10px;
}

.sprite_32x32_outgoing_collab {
	background-position: -302px -51px;
}

.sprite_32x32_incoming_collab,
.sprite_32x32_incoming_collab_folder {
	background-position: -262px -51px;
}

.sprite_32x32_incoming_collab_webdoc {
	background-position: -346px -10px;
}

.sprite_32x32_incoming_collab_file {
	background-position: -386px -10px;
}

.sprite_32x32_green_plus {
	background-position: -136px -51px;
}

.sprite_32x32_blue_collab {
	background-position: -94px -94px;
}

.sprite_32x32_blue_link {
	background-position: -136px -94px;
}

.sprite_32x32_blue_letter {
	background-position: -178px -94px;
}

.sprite_32x32_upload_check {
	background-position: -220px -94px;
}

.sprite_32x32_folder {
	background-position: -262px -95px;
}

.sprite_32x32_collab_subfolder {
	background-position: -304px -95px;
}

.sprite_32x32_global_folder {
	background-position: -346px -95px;
}

.sprite_32x32_collab_folder {
	background-position: -388px -95px;
}

.sprite_32x32_network_folder {
	background-position: -10px -137px;
}
.sprite_32x32_new_discussion {
	background-position: -95px -135px;
}
.sprite_32x32_blue_post {
	background-position: -174px -134px;
}
.sprite_32x32_blue_send {
	background-position: -92px -176px;
}
.sprite_32x32_blue_embed {
	background-position: -217px -134px;
}
.sprite_32x32_blue_mobile {
	background-position: -255px -134px;
}
.sprite_32x32_web_link_arrow {
	background-position: -52px -132px;
}

.sprite_32x32_bookmark {
	background-position: -345px -50px;
}
.sprite_32x32_25gb {
	background-position: -136px -177px;
}
.sprite_32x32_1gb {
	background-position: -218px -177px;
}
.sprite_32x32_lock_chain {
	background-position: -302px -178px;
}
.sprite_32x32_apps {
	background-position: -10px -220px;
}
.sprite_32x32_fast_upload {
	background-position: -94px -220px;
}
.sprite_32x32_500gb {
	background-position: -177px -177px;
}
.sprite_32x32_2gb {
	background-position: -260px -177px;
}
.sprite_32x32_search {
	background-position: -389px -178px;
}
.sprite_32x32_security {
	background-position: -48px -220px;
}
.sprite_32x32_branding {
	background-position: -134px -218px;
}
/* == Popup Headers == */
.sprite_32x32_admin_overview {
	background-position: -10px -52px;
}

.sprite_32x32_admin_branding {
	background-position: -54px -52px;
}

.sprite_32x32_admin_add_content {
	background-position: -94px -52px;
}

.sprite_32x32_admin_add_users {
	background-position: -137px -52px;
}

.sprite_32x32_admin_security {
	background-position: -178px -52px;
}

.sprite_32x32_admin_reports {
	background-position: -220px -52px;
}

.sprite_32x32_drag_item {
	background-position: -388px -50px;
}

.sprite_32x32_search_upgrade {
	background-position: -52px -178px;
}

.sprite_32x32_discussion_no_comments {
	background-position: -10px -259px;
}

.sprite_32x32_discussion_with_comments {
	background-position: -390px -222px;
}

