table.pane {
  margin: 0 12px;
}

td.pane {
  vertical-align: top;
}

ul.item {
  list-style: none;
  padding: 0 12px;
}

li.item {
  border-bottom: 1px solid #EEE;
  padding: 4px 6px;
  width: 200px;
}

li.item:last-child {
  border-bottom: 0;
}

li.item:hover {
  background: #EFF5F9;
  cursor: pointer;
}

li.item .media {
  padding: 0 6px 0 0;
}

.pair {
  vertical-align: middle;
}

.pair td {
  padding: 0 6px;
}

.spinny {
  background: transparent url(/img/ajax-loader.gif) no-repeat scroll 0 0;
  width: 32px;
  height: 32px;
}
