/* Main layout */

body {
  background: #EFF5F9;
}

header {
  color: #FFF;
  padding: 6px 12px;
}

header h1, header h2, header h3 {
  padding: 0 18px;
}

header h4, header h5, header h6 {
  padding: 0 4px;
}

header #logout a {
  color: #FFF;
  text-decoration: none;
}

header #logout { float: right; }

footer {
  background-color: #F2EFEF;
  border-top: 1px solid #DDD;
  bottom: 0;
  margin-top: 32px;
  padding: 6px 12px;
  position: fixed;
  width: 100%;
}


/* General Styles */

h1, h2, h3, h4, h5, h6 { margin: 0 }

.inline {
  display: inline-block;
  margin: 0;
}

.box_blue_bg {
  background-color: #267BB6;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #267BB6), color-stop(1, #338FCE));
  background-image: -moz-linear-gradient(center bottom, #267BB6 15%, #338FCE 100%);
  border-color: #0D5E94;
}

.lgrey {
  color: #DDD;
}
